.rows-and-columns {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 20px;
}

.rows-and-columns .bigTL {
    background-color: #255edf;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.rows-and-columns .smallTC{
    background-color: #2aa6da;
    grid-column: 3;
    grid-row: 1;
}

.rows-and-columns .smallTR{
    background-color: #2aa6da;
    grid-column: 4;
    grid-row: 1;
}

.rows-and-columns .middleCR{
    background-color: #03a498;
    grid-column: 3 / span 2;
    grid-row: 2;
}

.rows-and-columns .smallCL{
    background-color: #2aa6da;
    grid-column: 1 / span 1;
    grid-row: 3;
}

.rows-and-columns .smallCC{
    background-color: #2aa6da;
    grid-column: 2 / span 1;
    grid-row: 3;
}

.rows-and-columns .smallBL{
    background-color: #2aa6da;
    grid-column: 1 / span 1;
    grid-row: 4;
}

.rows-and-columns .smallBC{
    background-color: #2aa6da;
    grid-column: 2 / span 1;
    grid-row: 4;
}

.rows-and-columns .bigBR {
    background-color: #255edf;
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}
