.button
  display: grid
  grid-template-columns: 20px 1fr 20px
  grid-auto-flow: column
  grid-auto-columns: min-content
  white-space: nowrap
  width: min-content
  color: $text-color-white
  font-size: 12px
  font-weight: normal
  background-color: $main-color-blue
  height: 44px
  text-decoration: none
  border-radius: 22px
  align-content: center
  .button-content-holder
    grid-column: 2 / span 1
    display: grid
    grid-auto-flow: column
    grid-template-columns: min-content
    gap: 10px
    .bold
      font-weight: bold
    span
      font-weight: normal
      display: flex
      align-items: center
    span.icon-regular
      content: ""
    span.icon-background
      width: 20px
      height: 20px
      background-color: $text-color-white
      color: $main-color-blue
      border-radius: 50%
      display: flex
      align-items: center
      justify-content: center
      i
        font-size: 8px