h1, h2, h3
  font-weight: bold
  color: $text-color-black
  margin-bottom: 10px

h1
  font-size: 40px

h2
  font-size: 26px

h3
  font-size: 18px

.subtext
  color: $text-color-regular

.main-text
  font-weight: normal
  color: $text-color-black
  margin-bottom: 10px
  font-size: 28px

a
  white-space: nowrap
  font-size: 14px
  font-weight: bold
  text-decoration: none
  color: $main-color-blue

a.underlined:hover
  border-bottom: 1px solid $main-color-blue



.mt-40
  margi-top: 40px
.pt-40
  padding-top: 40px

