h1, h2, h3
  font-weight: bold
  color: $text-color-black
  margin-bottom: 10px

h1
  font-size: 40px

h2
  font-size: 26px

h3
  font-size: 18px

.subtext
  color: $text-color-regular


.button
  display: grid
  grid-template-columns: 20px 1fr 20px
  grid-auto-flow: column
  grid-auto-columns: min-content
  white-space: nowrap
  color: $text-color-white
  font-size: 12px
  font-weight: normal
  background-color: $main-color-blue
  height: 44px
  text-decoration: none
  border-radius: 22px
  align-content: center
  span
    grid-column: 2 / span 1
  .icon-text-container
    grid-column: 2 / span 1
    display: grid
    grid-template-columns: min-content min-content
    grid-auto-flow: column
    align-items: center
    gap: 15px
    .icon-container
      background-color: $text-color-white
      color: $main-color-blue
      padding: 3px
      border-radius: 50%
      display: grid
      align-items: center
      justify-items: center
      i
        margin: 1px 0 0 1px
        grid-column: 1 / span 1
        font-size: 8px



