.text-centered
  text-align: center
  max-width: 530px
  margin: auto

.text-left
  text-align: left

.grid-item-centered
  align-self: center
  justify-self: center

.grid-item-left-centered
  align-self: center
  justify-self: start

.grid-item-left-top
  align-self: start
  justify-self: start

.grid-item-left-bottom
  align-self: end
  justify-self: start