.jumbotron
  grid-column: 2 / span 1
  grid-row: 3 / span 1
  display: grid
  grid-template-columns: 1fr 1fr
  grid-auto-flow: column
  grid-template-rows: 440px
  position: relative
  top: 120px

.jumbotron-headline > .title
  font-size: 40px
  font-weight: bold
  width: 300px
  color: $text-color-black

.jumbotron-headline > .subtext
  margin-top: 10px
  line-height: 24px
  width: 250px
  color: $text-color-regular

.jumbotron-headline > .actions
  margin-top: 30px
  display: grid
  grid-template-columns: min-content min-content
  align-items: center
  gap: 30px
  color: $text-color-regular
  a
    white-space: nowrap
    font-size: 14px
    font-weight: bold
    text-decoration: none
    color: $main-color-blue

.no-text-decoration
  text-decoration: none
  border-bottom: none
  &:hover
    text-decoration: none
    border-bottom: none

.learn-more:hover
  border-bottom: 1px solid $main-color-blue