.key-benefits-container
  margin-top: 150px

.key-benefits
  grid-column: 2 / span 1

.key-benefits > h2, .key-benefits > .subtext
  text-align: center

.key-benefits-cards-container
  grid-column: 2 / span 1