a
  white-space: nowrap
  font-size: 14px
  font-weight: bold
  text-decoration: none
  color: $main-color-blue

a.menu
  font-size: 14px
  color: #677788
  font-weight: normal
  &:hover
    color: $main-color-blue

a.font-links-12
  font-size: 12px