a
  white-space: nowrap
  font-size: 14px
  font-weight: bold
  text-decoration: none
  color: $main-color-blue

a.underlined:hover
  border-bottom: 1px solid $main-color-blue

a.menu
  font-size: 14px
  color: #677788
  font-weight: normal