.preheader
  grid-column: 2 / span 1
  display: grid
  grid-template-columns: 1fr 1fr
  font-size: 12px
  color: #677788
  height: 30px

.left-side
  grid-column: 1 / span 1
  align-self: center

.left-side-menu
  list-style-type: none
  a
    color: #677788
    text-decoration: none
    &:hover
      border-bottom: 1px solid #677788

.left-side-menu li:before
  content: '\003C'
  padding-right: 5px
  font-weight: bold

.right-side
  grid-column: 2 / span 1
  justify-self: end
  align-self: center

.right-side-menu
  list-style-type: none
  display: grid
  grid-auto-flow: column

.right-side-menu li
  margin-left: 20px
  a
    color: #677788
    text-decoration: none
    &:hover
      border-bottom: 1px solid #677788

.right-side-menu li:after
  font-size: 9px
  content: "\25BC"
  padding-left: 5px