.list-frame {
    display: flex;
    flex-direction: column;
    border: 5px solid #255EDF;
    padding: 20px;
    width: 300px;
    list-style-type: none;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-right: 20px;
}

.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #333333;
}

.list-item:last-child {
    margin: 0;
    padding: 0;
    border-bottom: none;
}

.information {
    display: flex;
    flex-direction: column;
}

.info-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}