@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Arial", san-serif;
  font-size: 16px; }

.top-section {
  width: 100%;
  background-color: #f1f1f1; }

.main-grid {
  display: grid;
  grid-template-columns: minmax(30px, 1fr) minmax(964px, 1fr) minmax(30px, 1fr);
  grid-auto-flow: row; }

.no-text-decoration {
  text-decoration: none; }

.button {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  white-space: nowrap;
  color: #FFFFFF;
  font-size: 12px;
  background-color: #2576FF;
  height: 30px;
  text-decoration: none;
  border-radius: 20px;
  align-content: center; }
  .button span {
    grid-column: 2/span 1;
    margin-right: 5px; }

.button-with-icon {
  padding: 10px 15px; }
  .button-with-icon span.ico {
    margin-right: 5px; }
    .button-with-icon span.ico i {
      font-size: 6px;
      color: #2576FF;
      background-color: #FFFFFF;
      padding: 3px 3px 3px 4px;
      border-radius: 50%; }

.preheader {
  grid-column: 2/span 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 12px;
  color: #677788;
  height: 50px; }

.preheader-left-side {
  grid-column: 1/span 1;
  align-self: center; }

.preheader-left-side-menu {
  list-style-type: none;
  padding-left: 5px; }
  .preheader-left-side-menu a {
    color: #677788;
    text-decoration: none; }
    .preheader-left-side-menu a:hover {
      border-bottom: 1px solid #677788; }

.preheader-left-side-menu li:before {
  content: "<";
  padding-right: 5px;
  font-weight: bold; }

.preheader-right-side {
  grid-column: 2/span 1;
  justify-self: end;
  align-self: center; }

.preheader-right-side-menu {
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
  padding-right: 5px; }

.preheader-right-side-menu li {
  margin-left: 20px; }
  .preheader-right-side-menu li a {
    color: #677788;
    text-decoration: none; }
    .preheader-right-side-menu li a:hover {
      border-bottom: 1px solid #677788; }

.preheader-right-side-menu li:after {
  font-size: 9px;
  content: "▼";
  padding-left: 5px; }

.header {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 300px 1fr 100px;
  gap: 30px; }

.header-logo-section {
  grid-column: 1/span 1; }
  .header-logo-section img {
    width: 100px; }

.header-top-menu {
  grid-column: 2/span 1;
  justify-self: end;
  align-self: center; }

.header-top-menu-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  list-style-type: none; }

.header-top-menu-list > li {
  white-space: nowrap;
  margin-left: 20px; }

.header-top-menu-list > li > a {
  font-size: 14px;
  color: #677788;
  text-decoration: none; }
  .header-top-menu-list > li > a:hover, .header-top-menu-list > li > a:active {
    color: #2576FF; }

.header-top-menu-buy-button {
  align-self: center;
  justify-self: end; }

.jumbotron {
  grid-column: 2/span 1;
  grid-row: 3/span 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  grid-template-rows: 440px;
  position: relative;
  top: 120px; }

.jumbotron-headline > .title {
  font-size: 40px;
  width: 300px;
  font-weight: 500;
  color: #000000; }

.jumbotron-headline > .subtext {
  margin-top: 10px;
  width: 250px;
  color: #677788; }

.jumbotron-headline > .actions {
  margin-top: 30px;
  width: 250px;
  color: #677788; }

/*# sourceMappingURL=styles.css.map */
