@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

body {
  font-family: "Arial", serif;
  font-size: 16px; }

.mt-5 {
  margin-top: 5px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-80 {
  margin-top: 80px; }

.mt-100 {
  margin-top: 100px; }

.mt-120 {
  margin-top: 120px; }

.mt-140 {
  margin-top: 140px; }

.mt-150 {
  margin-top: 150px; }

.mt-200 {
  margin-top: 200px; }

.mb-5 {
  margin-bottom: 5px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-100 {
  margin-bottom: 100px; }

.mb-120 {
  margin-bottom: 120px; }

.mb-140 {
  margin-bottom: 140px; }

.mb-150 {
  margin-bottom: 150px; }

.mb-200 {
  margin-bottom: 200px; }

.pt-40 {
  padding-top: 40px; }

.main-grid {
  display: grid;
  grid-template-columns: minmax(30px, 1fr) minmax(964px, 1fr) minmax(30px, 1fr);
  grid-auto-flow: row; }

.main-grid-wide {
  display: grid;
  grid-template-columns: minmax(10px, 1fr) minmax(1004px, 1fr) minmax(10px, 1fr);
  grid-auto-flow: row; }

.content-grid {
  grid-column: 2/span 1; }

.content-grid-wide {
  grid-column: 1/span 3; }

@media (min-width: 1200px) {
  .main-grid {
    grid-template-columns: minmax(60px, 1fr) minmax(1080px, 1fr) minmax(60px, 1fr); }

  .main-grid-wide {
    grid-template-columns: minmax(10px, 1fr) minmax(1180px, 1fr) minmax(10px, 1fr); } }
.subtext {
  color: #677788; }

.main-text {
  font-weight: normal;
  color: #000000;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 34px;
  display: grid;
  gap: 30px; }

.employee-info {
  margin-top: 50px;
  display: flex;
  flex-direction: column; }
  .employee-info .employee-name {
    font-size: 18px;
    font-weight: bold; }
  .employee-info .employee-job {
    padding-top: 5px;
    font-size: 14px;
    color: #5f6368; }

h1, h2, h3 {
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px; }

h1 {
  font-size: 40px; }

h2, h2.hire-us {
  font-size: 26px; }

h2.hire-us {
  color: #FFFFFF; }

h2.secondary {
  font-weight: normal;
  text-transform: none; }

h3 {
  font-size: 18px; }

.h3-uppercased {
  text-transform: uppercase;
  color: #5f6368; }

.button {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  white-space: nowrap;
  width: min-content;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: normal;
  background-color: #2576FF;
  height: 44px;
  text-decoration: none;
  border-radius: 22px;
  align-content: center; }
  .button .button-content-holder {
    grid-column: 2/span 1;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content;
    gap: 10px; }
    .button .button-content-holder .bold {
      font-weight: bold; }
    .button .button-content-holder span {
      font-weight: normal;
      display: flex;
      align-items: center; }
    .button .button-content-holder span.icon-regular {
      content: ""; }
    .button .button-content-holder span.icon-background {
      width: 20px;
      height: 20px;
      background-color: #FFFFFF;
      color: #2576FF;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .button .button-content-holder span.icon-background i {
        font-size: 8px; }

a {
  white-space: nowrap;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #2576FF; }

a.underlined:hover {
  border-bottom: 1px solid #2576FF; }

a.menu {
  font-size: 14px;
  color: #677788;
  font-weight: normal; }

.card {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px; }

.content-card img {
  display: block;
  width: 50px; }
.content-card h3 {
  margin: 30px 0 20px 0;
  display: inline-block; }
.content-card .subtext {
  line-height: 24px;
  margin-bottom: 20px; }
.content-card span.tech {
  font-size: 12px;
  color: #FFFFFF;
  padding: 3px 7px;
  margin-left: 5px;
  background-color: #00C9A7;
  border-radius: 10px; }

.text-centered {
  text-align: center;
  max-width: 530px;
  margin: auto; }

.text-left {
  text-align: left; }

.grid-item-centered {
  align-self: center;
  justify-self: center; }

.grid-item-left-centered {
  align-self: center;
  justify-self: start; }

.grid-item-left-top {
  align-self: start;
  justify-self: start; }

.grid-item-left-bottom {
  align-self: end;
  justify-self: start; }

q {
  display: inline-block;
  quotes: "“" "”";
  font-style: oblique; }
  q:before {
    content: open-quote; }
  q:after {
    content: close-quote; }

.logo {
  width: 100px; }

.top-section {
  width: 100%;
  background-color: #f1f1f1; }

.preheader {
  grid-column: 2/span 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 12px;
  color: #677788;
  height: 50px; }

.preheader-left-side {
  grid-column: 1/span 1;
  align-self: center; }

.preheader-left-side-menu {
  list-style-type: none;
  padding-left: 5px; }
  .preheader-left-side-menu a {
    color: #677788;
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
    width: min-content; }
    .preheader-left-side-menu a:hover {
      border-bottom: 1px solid #677788; }
  .preheader-left-side-menu li {
    display: grid;
    grid-template-columns: min-content;
    grid-auto-flow: column;
    gap: 10px; }
    .preheader-left-side-menu li i {
      padding-top: 1px; }

.preheader-right-side {
  grid-column: 2/span 1;
  justify-self: end;
  align-self: center; }

.preheader-right-side-menu {
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
  padding-right: 5px; }

.preheader-right-side-menu li {
  margin-left: 20px;
  display: grid;
  grid-template-columns: min-content;
  grid-auto-flow: column;
  gap: 10px; }
  .preheader-right-side-menu li i {
    padding-top: 1px; }
  .preheader-right-side-menu li a {
    color: #677788;
    text-decoration: none;
    font-weight: normal;
    font-size: 12px; }
    .preheader-right-side-menu li a:hover {
      border-bottom: 1px solid #677788; }

.header {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 300px 1fr min-content;
  align-items: center;
  gap: 30px; }

.header-logo-section {
  grid-column: 1/span 1; }
  .header-logo-section a {
    display: grid;
    grid-template-columns: min-content; }
    .header-logo-section a img {
      grid-column: 1/span 1;
      align-self: center; }

.header-top-menu {
  grid-column: 2/span 1;
  justify-self: end;
  align-self: center; }

.header-top-menu-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  list-style-type: none; }

.header-top-menu-list > li {
  white-space: nowrap;
  margin-left: 20px; }

.header-top-menu-list > li > a {
  font-size: 14px;
  color: #677788;
  text-decoration: none;
  font-weight: normal; }
  .header-top-menu-list > li > a:hover, .header-top-menu-list > li > a:active {
    color: #2576FF; }

.header-top-menu-buy-button {
  align-self: center;
  justify-self: end; }

.jumbotron {
  grid-column: 2/span 1;
  grid-row: 3/span 1;
  display: grid;
  gap: 130px;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  height: 480px;
  position: relative;
  top: 140px; }

.jumbotron-headline > h1 {
  width: 300px; }

.jumbotron-headline > .subtext {
  margin-top: 10px;
  line-height: 24px;
  width: 250px;
  color: #677788; }

.jumbotron-headline > .actions {
  margin-top: 30px;
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
  gap: 30px;
  color: #677788; }
  .jumbotron-headline > .actions a {
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #2576FF; }

.no-text-decoration {
  text-decoration: none;
  border-bottom: none; }
  .no-text-decoration:hover {
    text-decoration: none;
    border-bottom: none; }

.learn-more:hover {
  border-bottom: 1px solid #2576FF; }

.jumbotron-service-logo-icons {
  width: 100%;
  height: 100%;
  position: relative; }

.jumbotron-service {
  position: absolute;
  height: 66px;
  width: 66px;
  background: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0 3px 10px 2px #e2e2e2;
  display: grid;
  grid-template-columns: 1fr;
  animation-name: image-background-appear;
  animation-delay: 0.2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-name: image-background-appear;
  -webkit-animation-delay: 0.2s;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px); }
  .jumbotron-service img {
    grid-column: 1/span 1;
    align-self: center;
    justify-self: center;
    width: 60%;
    height: 60%;
    visibility: hidden;
    opacity: 0;
    animation-name: image-appear;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-duration: 1s;
    -webkit-animation-name: image-appear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0.2s;
    -webkit-animation-duration: 1s; }

.service-big {
  height: 90px;
  width: 90px;
  animation-duration: 1.3s;
  -webkit-animation-duration: 1.3s; }
  .service-big img {
    width: 50%;
    height: 50%;
    animation-duration: 1.3s;
    -webkit-animation-duration: 1.3s; }

.google {
  top: 50px;
  left: 0; }

.google-ads {
  top: 300px;
  left: 95px; }

.atlassian {
  top: 50px;
  left: 140px; }

.asana {
  top: 25px;
  right: 0; }

.paypal {
  top: 180px; }

.weave {
  top: 180px;
  right: 140px; }

.calendar {
  top: 320px;
  right: 0; }

@keyframes image-appear {
  0% {
    visibility: hidden;
    opacity: 0; }
  100% {
    visibility: visible;
    opacity: 1; } }
@-webkit-keyframes image-appear {
  0% {
    visibility: hidden;
    opacity: 0; }
  100% {
    visibility: visible;
    opacity: 1; } }
@keyframes image-background-appear {
  0% {
    visibility: hidden;
    opacity: 0; }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(-50px); } }
@-webkit-keyframes image-background-appear {
  0% {
    visibility: hidden;
    opacity: 0; }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(-50px); } }
.key-benefits-container {
  margin-top: 150px; }

.key-benefits {
  grid-column: 2/span 1; }

.key-benefits > h2, .key-benefits > .subtext {
  text-align: center; }

.key-benefits-cards-container {
  margin: 60px 0 60px 0;
  grid-column: 2/span 1;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; }

.banner-one-container {
  background-color: #F8FAFE;
  height: 480px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 30px auto auto;
  gap: 20px; }

.banner-one-text {
  grid-column: 2/span 1;
  align-self: center;
  justify-self: start; }

.banner-one-image {
  grid-column: 3/span 1;
  align-self: end;
  justify-self: end; }
  .banner-one-image img {
    height: 360px; }

.play-icon {
  padding-top: 1px;
  padding-left: 2px; }

.why-front-bullets-list {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column; }
  .why-front-bullets-list .why-front-bullet-item:first-child > .bullet:before,
  .why-front-bullets-list .why-front-bullet-item:last-child > .bullet:after {
    content: unset; }

.why-front-bullet-item {
  display: flex;
  flex-direction: column; }
  .why-front-bullet-item .bullet {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    gap: 6px; }
    .why-front-bullet-item .bullet::before {
      align-self: center;
      content: "";
      grid-column: 1/span 1;
      height: 1px;
      width: 100%;
      background-color: #E6E9F2; }
    .why-front-bullet-item .bullet::after {
      align-self: center;
      content: "";
      grid-column: 3/span 1;
      width: 100%;
      height: 1px;
      background-color: #E6E9F2; }
    .why-front-bullet-item .bullet .bullet-inner {
      grid-column: 2/span 1;
      width: 50px;
      height: 50px;
      background-color: #ECF2FF;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .why-front-bullet-item .bullet .bullet-inner .dot {
        width: 5px;
        height: 5px;
        background-color: #0066FF;
        border-radius: 50%; }
  .why-front-bullet-item span {
    margin-top: 20px;
    text-align: center; }

.why-front-image {
  display: grid;
  grid-template-columns: 30px auto 30px; }
  .why-front-image img {
    grid-column: 2/span 1;
    width: 100%; }

.hubspot-container {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 80px; }

.hubspot-image {
  position: relative;
  width: 480px;
  height: 540px;
  background: url("../images/people/woman_three.jpg") no-repeat;
  background-size: 100%;
  overflow: visible;
  border-radius: 5px; }

.hubspot-hover-image {
  position: absolute;
  max-width: 200px;
  left: -50px;
  bottom: -50px;
  z-index: -1; }

.hubspot-text {
  align-self: center; }

.hubspot-text {
  font-size: 22px; }
  .hubspot-text p {
    padding-top: 20px;
    line-height: 36px; }
  .hubspot-text img.hubspot-logo {
    width: 100px; }

.trusted-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto; }
  .trusted-container .trusted-item {
    width: 100px;
    margin: auto; }

.pricing-plans-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px; }

.main-plan {
  grid-column: 1/span 1;
  grid-row: 1/-1;
  padding: 40px;
  display: grid; }

.pricing-info h3 {
  margin: 20px 0 10px 0; }
.pricing-info .subtext {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px; }

.main-plan-content {
  align-self: center; }
  .main-plan-content .price {
    padding-bottom: 30px;
    border-bottom: 1px solid #677788; }
    .main-plan-content .price .price-sum {
      font-size: 50px; }
  .main-plan-content .subtext {
    margin-top: 30px;
    line-height: 24px;
    margin-bottom: 20px; }
  .main-plan-content .specialtext {
    font-size: 12px; }
  .main-plan-content a {
    margin-top: 40px; }

.section-with-background {
  background-color: #20335B; }

.hire-us-form {
  padding: 50px;
  display: grid;
  grid-auto-flow: column;
  gap: 160px; }
  .hire-us-form .description > .subtext {
    color: #BDC2CE;
    font-size: 14px; }
  .hire-us-form .employee-info > .employee-job {
    color: #BDC2CE; }
  .hire-us-form .photo-stack {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: 60px;
    gap: 20px; }
    .hire-us-form .photo-stack img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      justify-self: flex-start;
      align-self: center; }
      .hire-us-form .photo-stack img:hover {
        width: 60px;
        height: 60px; }

.reversed-color {
  color: #FFFFFF; }

.reversed-background {
  color: #FFFFFF; }

.bottom-divider {
  padding-bottom: 30px;
  border-bottom: 1px solid #BDC2CE; }

q {
  max-width: 300px; }

.form {
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 5px; }
  .form label {
    display: none; }

.form-container > form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; }
  .form-container > form input.input-field {
    height: 40px;
    max-width: 100%;
    grid-column: span 1;
    padding: 0 10px;
    outline: none;
    border: 1px solid #E6E8F2;
    border-radius: 3px; }
  .form-container > form textarea {
    grid-column: span 2;
    padding: 10px;
    border: 1px solid #E6E8F2;
    border-radius: 3px;
    font-size: 14px; }
  .form-container > form .privacy-policy {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 20px 1fr; }
    .form-container > form .privacy-policy a {
      text-decoration: none;
      color: #677788;
      border-bottom: 1px dashed #677788; }
  .form-container > form .submit-button {
    grid-column: span 2;
    height: 40px;
    background-color: #2576FF;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold; }
  .form-container > form .select-field {
    height: 40px;
    max-width: 100%;
    padding: 0 10px;
    grid-column: span 1;
    border: 1px solid #E6E8F2;
    border-radius: 3px; }
  .form-container > form .checkbox-field {
    outline: 1px solid #E6E8F2; }

.footer-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  padding-bottom: 60px; }

.bottom-menu > h3 {
  padding-bottom: 5px; }

.bottom-menu-list > li {
  padding-bottom: 10px;
  display: block;
  white-space: nowrap; }
  .bottom-menu-list > li span {
    font-size: 10px;
    font-weight: normal;
    padding: 3px 5px;
    border-radius: 3px;
    background-color: #2576FF;
    margin-left: 5px;
    color: #FFFFFF; }
  .bottom-menu-list > li i {
    width: 20px;
    color: #677788;
    display: inline-block;
    font-size: 12px; }
  .bottom-menu-list > li a:hover {
    border-bottom: 1px solid #677788;
    padding-bottom: 2px; }

/*# sourceMappingURL=styles.css.map */
