* {
  padding: 0;
  margin: 0; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px; }

.button {
  color: #ffffff;
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 5px; }

.red {
  background-color: #DD5252; }

h1, .subtitle {
  color: #ffffff; }

.subtitle {
  margin: 30px 0 50px 0;
  line-height: 24px;
  padding: 0 30px; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto; }

header {
  grid-column: 1/span 4;
  background: #1E212D url("../images/bg.jpg");
  object-fit: cover;
  height: 300px;
  display: grid;
  grid-template-areas: ". content ."; }

.header-content {
  grid-area: content;
  width: 600px;
  margin: auto;
  text-align: center;
  align-self: center; }

.info {
  grid-column: 1/span 4;
  background-color: #EAEAEA;
  display: grid;
  grid-template-areas: ". title title ." ". left right .";
  grid-gap: 40px;
  padding: 30px 0 60px 0; }

.single-grid {
  grid-template-areas: ". title ." ". single .";
  grid-gap: 40px;
  background-color: #ffffff; }

.info-title {
  grid-area: title;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  background-color: #EAEAEA; }

.white {
  background-color: #ffffff; }

.info-box {
  text-align: center;
  width: 400px;
  line-height: 24px; }

.left {
  grid-area: left;
  justify-self: right; }

.right {
  grid-area: right;
  grid-column: 3/span 1;
  justify-self: left; }

.single {
  grid-area: single;
  grid-column: 2/span 1;
  width: 800px;
  justify-self: center; }

.cards {
  grid-column: 1/span 4;
  padding: 40px 0;
  background-color: #342291;
  display: grid;
  grid-template-areas: ". card_one card_two card_three ."; }

.one {
  grid-area: card_one;
  justify-self: right; }

.two {
  grid-area: card_two;
  justify-self: center; }

.three {
  grid-area: card_three;
  justify-self: left; }

.card-item {
  width: 250px;
  background-color: #ffffff;
  border-radius: 8px;
  text-align: center; }
  .card-item img {
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #606570;
    width: 100%;
    height: 150px;
    object-fit: cover; }
  .card-item .card-title {
    margin: 30px;
    font-weight: bold;
    font-size: 18px; }
  .card-item .card-description {
    padding: 0 20px 30px 20px;
    color: #545454; }

.action-block {
  grid-column: 1/span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px;
  text-align: center;
  color: #ffffff; }

.action-block-left {
  height: 100%;
  grid-column: 1/3;
  background-color: #2F3DA8;
  display: grid;
  grid-template-areas: ". action-left-content .";
  grid-template-rows: 1fr; }

.action-block-right {
  height: 100%;
  grid-column: 3/5;
  background-color: #342291;
  display: grid;
  grid-template-areas: ". action-right-content .";
  grid-template-rows: 1fr; }

.action-left-content {
  grid-area: action-left-content;
  align-self: center;
  justify-self: center;
  width: 70%; }

.action-right-content {
  grid-area: action-right-content;
  align-self: center;
  justify-self: center;
  width: 70%; }

.action-title {
  font-size: 18px;
  font-weight: bold; }

.action-description {
  margin: 20px 0; }

.footer {
  grid-column: 1/span 4;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  display: grid;
  grid-template-areas: "footer-area-one footer-area-two";
  height: 60px; }
  .footer a {
    color: #207FBB;
    text-decoration: none; }

.footer-area-one {
  grid-area: footer-area-one;
  align-self: center;
  justify-self: center; }

.footer-area-two {
  grid-area: footer-area-two;
  align-self: center;
  justify-self: center; }

@media (min-width: 320px) and (max-width: 920px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr; }

  header {
    grid-column: 1/2;
    display: grid;
    grid-template-areas: "header-content"; }

  .header-content {
    grid-area: header-content;
    width: 100%;
    justify-self: center; }

  .info {
    grid-column: 1/span 1;
    display: grid;
    grid-template-areas: "title" "left" "right";
    grid-gap: 20px;
    padding: 30px 0 30px 0; }

  .single-grid {
    grid-template-areas: "title" "single";
    grid-gap: 20px; }

  .left {
    grid-area: left;
    justify-self: center; }

  .right {
    grid-area: right;
    justify-self: center; }

  .single {
    grid-area: single;
    grid-column: 1/span 1;
    width: 70%;
    justify-self: center; }

  .cards {
    grid-column: 1/2;
    padding: 40px 0;
    background-color: #342291;
    display: grid;
    grid-template-areas: "card_one" "card_two" "card_three"; }

  .card-item {
    width: 90%;
    margin-bottom: 20px; }

  .one {
    grid-area: card_one;
    justify-self: center; }

  .two {
    grid-area: card_two;
    justify-self: center; }

  .three {
    grid-area: card_three;
    justify-self: center; }

  .action-block {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
    text-align: center;
    color: #ffffff; }

  .action-block-left {
    height: 100%;
    grid-column: 1/2;
    background-color: #2F3DA8;
    display: grid;
    grid-template-areas: "action-left-content";
    grid-template-rows: 1fr; }

  .action-block-right {
    height: 100%;
    grid-column: 1/2;
    background-color: #342291;
    display: grid;
    grid-template-areas: "action-right-content";
    grid-template-rows: 1fr; }

  .action-left-content {
    grid-area: action-left-content;
    padding: 20px 0 40px 0;
    justify-self: center;
    width: 70%; }

  .action-right-content {
    grid-area: action-right-content;
    padding: 20px 0;
    justify-self: center;
    width: 70%; }

  .action-title {
    font-size: 18px;
    font-weight: bold; }

  .action-description {
    margin: 20px 0; }

  .footer {
    grid-column: 1/2;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "footer-area-one" "footer-area-two";
    height: 100px; }

  .footer-area-one {
    grid-area: footer-area-one;
    align-self: end;
    justify-self: center; }

  .footer-area-two {
    grid-area: footer-area-two;
    align-self: start;
    justify-self: center; } }

/*# sourceMappingURL=main.css.map */
