@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: arial, sans-serif;
  font-size: 13px; }

.title {
  font-size: 20px; }

.bottom-border-grey {
  border-bottom: 1px solid #DFE1E5; }

a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.global-grid-spacer {
  grid-column: 1/span 5;
  height: 40px; }

header {
  grid-column: 2/span 3;
  width: 100%;
  height: 90px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 130px 700px 1fr; }

.logo-container {
  grid-column: 1/span 1;
  align-self: center;
  justify-self: start; }
  .logo-container img {
    width: 92px;
    height: 33px; }

.grid-container {
  display: grid;
  grid-template-columns: 30px 130px 700px 1fr 30px; }

footer {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 30px 1fr 30px;
  background-color: #f2f2f2;
  border-top: 1px solid #DADCE0; }
  footer a {
    color: #70757a; }
  footer .footer-menu-container {
    grid-column: 2/span 1;
    align-self: center; }

.footer-devider {
  width: 100%;
  min-height: 80px; }

.menu-container {
  grid-column: 3/span 1;
  align-self: center;
  justify-self: end; }

.menu-list {
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center; }

.right-flex-aligned {
  justify-content: flex-end; }

.left-flex-aligned {
  justify-content: flex-start; }

.link-padding-fixer {
  padding-top: 3px; }

.menu-list li {
  padding-left: 15px; }

.menu-list li:nth-child(1) {
  padding-left: 0; }

.features-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .features-link:hover {
    background-color: #EDEFF0; }

.features-link a {
  font-size: 14px;
  color: #5f6368;
  opacity: 1; }

.flex-link {
  display: flex; }

.avatar-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1E212D; }

.search-field-container {
  grid-column: 2/span 1;
  align-self: center;
  justify-self: start;
  width: 100%;
  height: 44px;
  border-radius: 30px;
  border: 1px solid #dfe1e5; }
  .search-field-container:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28); }

.search-field-form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1px 1fr 30px 20px 40px;
  grid-template-rows: 1fr;
  grid-gap: 20px; }
  .search-field-form .search-field-input {
    grid-column: 2/span 1;
    width: 100%;
    height: 26px;
    border: none;
    outline: none;
    align-self: center;
    border-right: 1px solid #dfe1e5;
    padding-right: 20px;
    margin-top: -2px; }
  .search-field-form .keyboard-icon {
    grid-column: 3/span 1;
    align-self: center;
    justify-self: center;
    color: #7B7B7B;
    font-size: 18px; }
  .search-field-form .search-field-mic-icon {
    grid-column: 4/span 1;
    align-self: center;
    justify-self: center;
    width: 25px;
    height: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
    .search-field-form .search-field-mic-icon svg {
      grid-column: 1/2;
      align-self: center;
      justify-self: center; }
  .search-field-form .search-field-submit {
    grid-column: 5/span 1;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    color: #4285F4;
    font-size: 18px;
    text-align: left; }

.menu-search-type {
  grid-column: 1/span 5;
  border-bottom: 1px solid #EBEBEB;
  display: grid;
  grid-template-columns: 170px 700px 1fr;
  grid-template-rows: 28px; }

.menu-search-type-container {
  grid-column: 2/span 1;
  display: grid;
  grid-template-columns: min-content auto 30px; }

.menu-search-type-item-list {
  grid-column: 1/span 1;
  width: auto;
  list-style-type: none;
  display: inline-grid;
  grid-template-columns: min-content min-content min-content min-content min-content;
  grid-template-rows: 1fr; }
  .menu-search-type-item-list a {
    display: inline-block;
    color: #5f6368;
    padding: 0 30px 10px 15px;
    text-decoration: none; }
    .menu-search-type-item-list a:hover, .menu-search-type-item-list a:active {
      border-bottom: 3px solid #1A73E8;
      text-decoration: none; }
  .menu-search-type-item-list a.active {
    border-bottom: 3px solid #1A73E8; }

.menu-search-type-item {
  white-space: nowrap; }
  .menu-search-type-item span {
    float: left;
    padding-right: 8px; }

.menu-search-type-submenu {
  grid-column: 2/span 1;
  display: inline-block;
  justify-self: end; }

.menu-search-type-submenu-list {
  width: 100%;
  display: grid;
  grid-template-columns: min-content min-content;
  list-style-type: none;
  grid-gap: 20px; }

.menu-search-type-submenu-list {
  justify-self: end; }

.results-count-container {
  grid-column: 1/span 5;
  display: grid;
  grid-template-columns: 180px 680px 1fr;
  grid-template-rows: 36px; }

.results-count-text {
  grid-column: 2/span 1;
  align-self: center;
  color: #70757a; }

.search-results-container {
  grid-column: 1/span 5;
  display: grid;
  grid-template-columns: 180px 680px 1fr; }

.search-result-list {
  grid-column: 2/span 1; }

.search-result-item {
  margin-top: 30px; }
  .search-result-item:nth-child(1) {
    margin-top: 10px; }

.search-result-item-breadcrumb > ul {
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.search-result-item-breadcrumb > ul > li {
  float: left;
  margin-left: 5px;
  color: #5f6368; }

.search-result-item-breadcrumb > ul > li:before {
  content: "›  "; }

.search-result-item-breadcrumb > ul > li:first-of-type {
  margin-left: 0;
  color: #202124; }

.search-result-item-breadcrumb > ul > li:first-of-type:before {
  content: unset; }

.search-result-item-breadcrumb > ul > li:nth-child(1) > a {
  color: #202124;
  text-decoration: none; }

.search-result-item-title {
  margin-top: 7px; }

.search-result-item-title > a {
  font-size: 20px;
  color: #1a0dab;
  text-decoration: none; }
  .search-result-item-title > a:hover {
    text-decoration: underline; }

.search-result-item > p {
  margin-top: 5px;
  line-height: 22px;
  color: #4d5156; }

.search-item-bottom-menu {
  margin-top: 5px;
  display: inline-block; }

.search-item-bottom-menu-list li {
  list-style-type: none;
  float: left;
  margin-left: 8px;
  font-weight: lighter;
  color: #70757a;
  font-size: 10px; }
  .search-item-bottom-menu-list li a {
    color: #1a0dab;
    font-size: 13px; }
.search-item-bottom-menu-list li:before {
  content: "·";
  margin-right: 8px; }
.search-item-bottom-menu-list li:nth-child(1) {
  margin-left: 0; }
.search-item-bottom-menu-list li:nth-child(1):before {
  content: unset;
  padding-right: 0; }

.search-item-bottom-answers {
  margin-top: 30px;
  border: 1px solid #DFE1E5;
  border-radius: 10px;
  font-size: 16px; }

.search-item-bottom-answers-item {
  padding: 15px 20px;
  display: grid;
  grid-template-columns: 1fr 10px;
  grid-template-rows: 1fr; }
  .search-item-bottom-answers-item p {
    grid-column: 1/span 1; }
  .search-item-bottom-answers-item span {
    grid-column: 2/span 1; }

.dropdown {
  font-size: 18px;
  line-height: 16px; }

.search-item-bottom-answers-help-link {
  text-align: right;
  margin-top: 5px; }
  .search-item-bottom-answers-help-link a {
    float: right;
    position: relative;
    padding-right: 20px;
    font-style: oblique;
    text-decoration: none; }

.paginator-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  grid-template-rows: 100px;
  align-items: end;
  justify-items: center; }

.paginator {
  display: grid;
  grid-template-columns: 85px min-content 80px; }
  .paginator a {
    color: #4285f4;
    text-decoration: none; }
    .paginator a:hover {
      text-decoration: underline; }

.forward {
  display: grid;
  grid-template-columns: 71px 1fr; }
  .forward .background {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    background: url("../images/google.webp") no-repeat;
    background-position: -96px 0;
    width: 71px;
    height: 37px;
    justify-self: start; }
  .forward .link-holder {
    grid-column: 1/span 2;
    grid-row: 2/span 1;
    justify-self: end; }

.backward {
  display: grid;
  grid-template-columns: 1fr 53px; }
  .backward .background {
    grid-column: 2/span 1;
    background: url("../images/google.webp") no-repeat;
    background-position: 0 0;
    width: 53px;
    height: 37px;
    justify-self: end; }
  .backward .link-holder {
    grid-column: 1/span 2;
    grid-row: 2/span 1;
    justify-self: start; }

.pagination-links {
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 20px); }

.pagination-links > li {
  text-align: center; }

.pagination-list-item-back-ground {
  width: 20px;
  height: 37px;
  text-align: center;
  background: url("../images/google.webp") no-repeat;
  background-position: -74px 0; }

.pagination-links > li.active .pagination-list-item-back-ground {
  background: url("../images/google.webp") no-repeat;
  background-position: -53px 0; }

/*# sourceMappingURL=main.css.map */
