.no-text-decoration, a.no-text-decoration:hover
  text-decoration: none
  border-bottom: none

.button
  display: grid
  grid-template-columns: 20px 1fr 20px
  grid-auto-flow: column
  grid-auto-columns: min-content
  white-space: nowrap
  color: $text-color-white
  font-size: 12px
  font-weight: normal
  background-color: $main-color-blue
  height: 44px
  text-decoration: none
  border-radius: 22px
  align-content: center
  span
    grid-column-start: 2
    grid-column-end: span 1
    i
      display: block
      margin-right: 12px
      background-color: $text-color-white
      color: $main-color-blue
      padding: 3px
      border-radius: 50%
      font-size: 8px
      line-height: 12px