$zero_screen:                  0px
$phone_regular_screen:         319px
$tablet_regular_screen:        719px
$desktop_small_screen:         1023px
$desktop_regular_screen:       1199px
$desktop_medium_screen:        1439px
$desktop_large_screen:         1599px
$desktop_full_hd:              1919px
$desktop_ultra_large_screen:   2559px
$desktop_4k:                   3839px
$desktop_5k:                   5119px  // iMAc27, or any 5K mon.
$desktop_6k:                   6015px  // Apple XDR
