/** style sheet for basic layout **/

/** nav bar **/
nav.navbar {
    padding: 0px;
}
nav.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

nav.navbar li {
  float: left;
}

nav.navbar li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px 2px;
}

nav.navbar li a:hover {
    text-decoration: none;
}

/** video containers **/
.frameMain {
    display: flex;
    flex-wrap: wrap;
}
.frame {
    width:360px;
    padding:0px 20px;
    margin:10px;
    background-color: #b0d0d1;
}
.frame iframe {
    width:350px;
    height:240px;
}

.vid_frame {
    width:350px;
    height: 240px;
}
.frame h2 {
    text-align: center;
}



/** footer section **/
footer {
    padding:0px;
    text-align: center;
    background-color: #e5e5e5;
    font-size: 30px
}