.banner-one-container
  display: grid
  grid-auto-flow: column
  grid-template-columns: 30px auto auto
  gap: 20px
  background-color: #F8FAFE
  height: 480px
  overflow: hidden

.banner-one-text
  grid-column: 2 / span 1
  align-self: center
  justify-self: start

.banner-one-image
  grid-column: 3 / span 1
  align-self: end
  justify-self: end

@media (min-width: $desktop_small_screen)
  .banner-one-image > img
    height: 360px
    position: relative
    top: 578px
    visibility: hidden
    opacity: 0

  .banner-one-image > img.appear-on-scroll
    animation-name: banner-one-image-appear
    animation-fill-mode: forwards
    animation-duration: 1s
    -webkit-animation-name: banner-one-image-appear
    -webkit-animation-fill-mode: forwards
    -webkit-animation-duration: 1s

  @keyframes banner-one-image-appear
    0%
      visibility: hidden
      opacity: 0
    1%
      visibility: hidden
      opacity: 0
    100%
      visibility: visible
      opacity: 1
      transform: translateY(-574px)

@media (min-width: $zero_screen) AND (max-width: $tablet_regular_screen)
  .banner-one-image > img
    width: 100%

  .banner-one-container
    grid-template-columns: 1fr
    grid-template-rows: min-content min-content

  .banner-one-text
    grid-column: 1 / span 1
    align-self: center
    justify-self: start

  .banner-one-image
    grid-column: 1 / span 1