.banner-one-container
  background-color: #F8FAFE
  height: 480px
  overflow: hidden

.banner-one-image
  img
    height: 360px
    position: relative
    top: 578px
    visibility: hidden
    opacity: 0
  img.appear-on-scroll
    animation-name: banner-one-image-appear
    animation-fill-mode: forwards
    animation-duration: 1s
    -webkit-animation-name: banner-one-image-appear
    -webkit-animation-fill-mode: forwards
    -webkit-animation-duration: 1s


@media (min-width: 1024px)


  @keyframes banner-one-image-appear
    0%
      visibility: hidden
      opacity: 0
    1%
      visibility: hidden
      opacity: 0
    100%
      visibility: visible
      opacity: 1
      transform: translateY(-574px)