.banner-one-container
  background-color: #F8FAFE
  height: 480px
  display: grid
  grid-auto-flow: column
  grid-template-columns: 30px auto auto
  gap: 20px
  overflow: hidden

.banner-one-text
  grid-column: 2 / span 1
  align-self: center
  justify-self: start

.banner-one-image
  grid-column: 3 / span 1
  align-self: end
  justify-self: end
  img
    height: 360px

@media (min-width: 1024px)
  .banner-one-image
    img
      position: relative
      top: 578px
      transform: translateY(-574px)
      transition: transform 3s ease-out
      transition-delay: 2s
      transition-duration: 2s
      -webkit-transition-duration: 2s
      -webkit-transform: translateY(-574px)
      -webkit-transition: transform 3s ease-out
      -webkit-transition-delay: 2s