.footer-container
  display: grid
  grid-auto-flow: column
  grid-template-columns: repeat(5, 1fr)
  gap: 30px
  padding-bottom: 40px

.bottom-menu-list > li
  padding-bottom: 10px
  span
    font-size: 10px
    font-weight: normal
    padding: 3px 5px
    border-radius: 3px
    background-color: $main-color-blue
    margin-left: 5px
    color: #FFFFFF
  a
    i
      width: 20px