
.header-top-menu-list > li
  white-space: nowrap
  margin-left: 20px

.header-top-menu-list > li > a
  font-size: 14px
  color: $text-color-regular
  text-decoration: none
  font-weight: normal
  &:hover, &:active
    color: $main-color-blue
