.header
  grid-column: 2 / span 1
  display: grid
  grid-auto-flow: column
  grid-template-columns: min-content 1fr min-content
  align-items: center
  gap: 30px

.header-logo-section
  grid-column: 1 / span 1
  a
    display: grid
    grid-template-columns: min-content
    img
      grid-column: 1 / span 1
      align-self: center

.header-top-menu
  grid-column: 2 / span 1
  justify-self: end
  align-self: center

.header-top-menu-list
  display: grid
  grid-auto-flow: column
  grid-auto-columns: min-content

.header-top-menu-buy-button
  align-self: center
  justify-self: end

.header-top-menu-list > li
  white-space: nowrap
  margin-left: 20px

.header-top-menu-list > li > a
  font-size: 14px
  color: $text-color-regular
  text-decoration: none
  font-weight: normal
  &:hover, &:active
    color: $main-color-blue

.header-top-menu-list > li > a.active
  color: $main-color-blue


.main-grid-sticky-header
  background-color: #FFFFFF
  height: 80px
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 10
  box-shadow: 0 0 20px rgba(0,0,0,0.1)
  animation-name: sticky-header-appear
  animation-fill-mode: forwards
  animation-duration: 1s
  -webkit-animation-name: sticky-header-appear
  -webkit-animation-fill-mode: forwards
  -webkit-animation-duration: 1s

.header-close
  -webkit-animation-fill-mode: unset
  animation-fill-mode: unset
  transform: translateY(-100px)
  transition: transform .2s ease-in-out

.header-extender
  min-height: 44px



@media (min-width: $desktop_small_screen)
  @keyframes sticky-header-appear
    0%
      top: -100px
    1%
    100%
      transform: translateY(100px)

@media (min-width: $zero_screen) AND (max-width: $tablet_regular_screen)
  .header
    grid-column: 2 / span 1
    display: grid
    grid-auto-flow: row
    grid-template-columns: 1fr
    align-items: center
    gap: 30px

  .header-logo-section
    grid-column: 1 / span 1
    a
      display: grid
      grid-template-columns: min-content
      img
        grid-column: 1 / span 1
        align-self: center

  .header-top-menu
    grid-column: 2 / span 1
    justify-self: end
    align-self: center
    display: none

  .header-top-menu-list
    display: grid
    grid-auto-flow: column
    grid-auto-columns: min-content

  .header-top-menu-buy-button
    align-self: center
    justify-self: end