.hubspot-container
  display: grid
  grid-template-columns: min-content auto
  gap: 80px

.hubspot-image
  position: relative
  width: 480px
  height: 540px
  background: url("../images/people/woman_three.jpg") no-repeat
  background-size: 100%
  left: -30px
  overflow: visible
  border-radius: 5px

.hubspot-hover-image
  position: absolute
  max-width: 200px
  left: -50px
  bottom: -50px
  z-index: -1


.hubspot-text
  align-self: center

.hubspot-text
  font-size: 22px
  p
    padding-top: 20px
    //padding-right: 220px
    line-height: 36px
  img.hubspot-logo
    width: 100px

.hubspot-employee-info
  margin-top: 50px
  display: flex
  flex-direction: column
  .employee-name
    font-size: 18px
    font-weight: bold
  .employee-job
    padding-top: 5px
    font-size: 14px
    color: #5f6368
