.why-front-bullets-list
  .why-front-bullet-item:first-child > .bullet:before,
  .why-front-bullet-item:last-child > .bullet:after
    content: unset

.why-front-bullet-item
  display: flex
  flex-direction: column
  .bullet
    &::before, &::after
      content: ""
      height: 1px
      width: 100%
      background-color: #E6E9F2
    .bullet-inner
      width: 50px
      height: 50px
      background-color: #ECF2FF
      border-radius: 50%
      display: flex
      align-items: center
      justify-content: center
      .dot
        width: 5px
        height: 5px
        background-color: #0066FF
        border-radius: 50%
  span
    margin-top: 20px
    text-align: center

.why-front-image
  img
    width: 100%