.header
  grid-column: 2 / span 1
  display: grid
  grid-auto-flow: column
  grid-template-columns: min-content 1fr
  align-items: center
  gap: 30px
  height: 80px

.header-logo-section
  grid-column: 1 / span 1
  a
    display: grid
    grid-template-columns: min-content
    img
      grid-column: 1 / span 1
      align-self: center

.header-top-menu-trigram
  display: none
  color: #2576FF
  position: relative
  top: 2px
  margin-left: auto
  .trigram-tap-holder
    height: 40px
    width: 40px
    display: flex
    align-items: center
    justify-content: center

.header-top-menu-holder
  display: flex
  gap: 30px
  justify-self: end
  .header-top-menu
    grid-column: 2 / span 1
    align-self: center
  .header-top-menu-list
    display: grid
    grid-auto-flow: column
    grid-auto-columns: min-content

.header-top-menu-buy-button
  align-self: center
  justify-self: end

.header-top-menu-list > li
  white-space: nowrap
  margin-left: 20px

.header-top-menu-list > li > a
  font-size: 14px
  color: $text-color-regular
  text-decoration: none
  font-weight: normal
  &:hover, &:active
    color: $main-color-blue

.header-top-menu-list > li > a.active
  color: $main-color-blue


.main-grid-sticky-header
  background-color: #FFFFFF
  height: 80px
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 10
  box-shadow: 0 0 20px rgba(0,0,0,0.1)
  animation-name: sticky-header-appear
  animation-fill-mode: forwards
  animation-duration: 1s
  -webkit-animation-name: sticky-header-appear
  -webkit-animation-fill-mode: forwards
  -webkit-animation-duration: 1s

.header-close
  -webkit-animation-fill-mode: unset
  animation-fill-mode: unset
  transform: translateY(-100px)
  transition: transform .8s ease-in-out

.header-extender
  min-height: 44px



@media (min-width: 0px)
  @keyframes sticky-header-appear
    0%
      top: -100px
    1%
      top: -100px
    100%
      top: 0


@media (max-width: $tablet_regular_screen_max)
  .header
    display: flex
    align-items: center
    gap: 30px
    width: 100%
    padding: 0 10px

  #sticky-header
    z-index: 200

  .main-grid-sticky-header-trigram
    background-color: #FFFFFF
    height: 80px
    position: fixed
    top: 0
    left: 0
    right: 0
    box-shadow: 0 0 20px rgba(0,0,0,0.1)

  .header-logo-section
    grid-column: 1 / span 1
    a
      display: grid
      grid-template-columns: min-content
      img
        grid-column: 1 / span 1
        align-self: center
  .header-top-menu-trigram
    display: block
  .header-top-menu-holder
    display: none
    position: fixed
    top: 80px
    bottom: 0
    left: 0
    right: 0
    background-color: #677788
    z-index: 10
    flex-direction: column
    .header-top-menu
      padding-top: 60px
      & > nav > ul
        display: flex
        flex-direction: column
        gap: 40px
        align-items: center
        li
          margin-left: 0
          a
            color: #FFFFFF
            font-size: 22px
    .header-top-menu-buy-button
      a > .button > .button-content-holder > span
        font-size: 18px
