// MAIN GRID
.main-grid
  display: grid
  grid-template-columns: minmax(30px, 1fr) minmax(964px, 1fr) minmax(30px, 1fr)
  grid-auto-flow: row
.main-grid-wide
  display: grid
  grid-template-columns: minmax(10px, 1fr) minmax(1004px, 1fr) minmax(10px, 1fr)
  grid-auto-flow: row

.content-grid
  grid-column: 2 / span 1
.content-grid-wide
  grid-column: 1 / span 3

// PREHEADER
.preheader
  grid-column: 2 / span 1
  display: grid
  grid-template-columns: 1fr 1fr
  .preheader-left-side
    grid-column: 1 / span 1
    align-self: center
  .preheader-right-side
    grid-column: 2 / span 1
    justify-self: end
    align-self: center

.preheader-right-side-menu
  display: grid
  grid-auto-flow: column

.preheader-right-side-menu > li, .preheader-left-side-menu > li
  display: grid
  grid-template-columns: min-content
  grid-auto-flow: column
  gap: 10px

// HEADER
.header
  grid-column: 2 / span 1
  grid-row: 2 / span 1
  display: grid
  grid-auto-flow: column
  grid-template-columns: 300px 1fr min-content
  align-items: center
  gap: 30px

.header-logo-section
  grid-column: 1 / span 1
  a
    display: grid
    grid-template-columns: min-content
    img
      grid-column: 1 / span 1
      align-self: center

.header-top-menu
  grid-column: 2 / span 1
  justify-self: end
  align-self: center

.header-top-menu-list
  display: grid
  grid-auto-flow: column
  grid-auto-columns: min-content

.header-top-menu-buy-button
  align-self: center
  justify-self: end

// JUMBOTRON

.jumbotron
  grid-column: 2 / span 1
  grid-row: 3 / span 1
  display: grid
  gap: 130px
  grid-template-columns: 1fr 1fr
  grid-auto-flow: column

.jumbotron-headline > .actions
  display: grid
  grid-template-columns: min-content min-content
  align-items: center
  gap: 30px

.jumbotron-service
  display: grid
  grid-template-columns: 1fr
  img
    grid-column: 1 / span 1
    align-self: center
    justify-self: center

// KEY BENEFITS

.key-benefits
  grid-column: 2 / span 1

.key-benefits-cards-container
  grid-column: 2 / span 1
  display: grid
  grid-auto-flow: column
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 20px


// BANNER ONE
.banner-one-container
  display: grid
  grid-auto-flow: column
  grid-template-columns: 30px auto auto
  gap: 20px

.banner-one-text
  grid-column: 2 / span 1
  align-self: center
  justify-self: start

.banner-one-image
  grid-column: 3 / span 1
  align-self: end
  justify-self: end


// WHY FRONT

.why-front-bullets-list
  display: grid
  grid-template-columns: auto
  grid-auto-flow: column

.why-front-bullet-item
  .bullet
    display: grid
    grid-template-columns: 1fr min-content 1fr
    gap: 6px
    &::before
      align-self: center
      grid-column: 1 / span 1
    &::after
      align-self: center
      grid-column: 3 / span 1
    .bullet-inner
      grid-column: 2 / span 1

.why-front-image
  display: grid
  grid-template-columns: 30px auto 30px
  img
    grid-column: 2 / span 1


// HUBSPOT

.hubspot-container
  display: grid
  grid-template-columns: min-content auto
  gap: 80px

.hubspot-text
  align-self: center


// TRUSTED BY

.trusted-container
  display: grid
  grid-auto-flow: column
  grid-auto-columns: auto


// HIRE US

.hire-us-form
  display: grid
  grid-auto-flow: column
  gap: 160px
  display: grid
  .photo-stack
    grid-template-columns: repeat(3, 60px)
    grid-template-rows: 60px
    gap: 20px
    img
      justify-self: flex-start
      align-self: center

.form-container > form
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 20px
  input.input-field
    grid-column: span 1
  textarea
    grid-column: span 2
  .privacy-policy
    grid-column: span 2
    display: grid
    grid-template-columns: 20px 1fr
  .submit-button
    grid-column: span 2
  .select-field
    grid-column: span 1


// FOOTER

.footer-container
  display: grid
  grid-auto-flow: column
  grid-template-columns: repeat(5, 1fr)
  gap: 30px

.post-footer
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 30px
  align-items: center

.footer-breadcrumb
  grid-column: 1 / span 1

.footer-breadcrumb-item
  display: grid
  grid-auto-flow: column
  grid-template-columns: min-content 15px
  gap: 10px

.footer-socials
  grid-column: 2 / span 1

.footer-post-text
  grid-column: 1 / -1



@media (min-width: 1200px)
  .main-grid
    grid-template-columns: minmax(60px, 1fr) minmax(1080px, 1fr) minmax(60px, 1fr)
  .main-grid-wide
    grid-template-columns: minmax(10px, 1fr) minmax(1180px, 1fr) minmax(10px, 1fr)
