.key-benefits
  grid-column: 2 / span 1

.key-benefits-cards-container
  grid-column: 2 / span 1
  display: grid
  grid-auto-flow: column
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 20px


.banner-one-container
  display: grid
  grid-auto-flow: column
  grid-template-columns: 30px auto auto
  gap: 20px

.banner-one-text
  grid-column: 2 / span 1
  align-self: center
  justify-self: start

.banner-one-image
  grid-column: 3 / span 1
  align-self: end
  justify-self: end


@media (min-width: 320px) AND (max-width: 720px)
  .key-benefits
    grid-column: 2 / span 1

  .key-benefits-cards-container
    grid-column: 2 / span 1
    display: grid
    grid-auto-flow: row
    grid-template-columns: 1fr
    grid-template-rows: repeat(4, 1fr)
    grid-gap: 20px